*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    color: bisque;
}
.main{
    position: relative;
}
h1{
    font-size: 100px;
    cursor: pointer;
    mix-blend-mode: difference;
    z-index: 9;
}
.line{
    border-bottom: 3px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.part img{
    /* transition: all linear 1s; */
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: none;
    position: absolute;
}
.imageee{
    display: flex;
    align-items: center;
}